<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="site-wrap">


        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-total">Total</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(int i =0; i < 5; i++)
                                    {
                                        <tr>
                                            <td class="product-thumbnail">
                                                <img src="~/images/cloth_1.jpg" alt="Image" class="img-fluid">
                                            </td>
                                            <td class="product-name">
                                                <h2 class="h5 text-black">Top Up T-Shirt</h2>
                                            </td>
                                            <td id="tdPriceProduct_@i" val="49.00">49.00 TL</td> 
                                            <td>
                                                <div class="input-group mb-3" style="max-width: 120px;">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-primary js-btn-minus" id="btnMinus_@i" type="button">&minus;</button>
                                                    </div>
                                                    <input type="text" class="form-control text-center" value="1" id="inputProductCount_@i" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-primary js-btn-plus" id="btnPlus_@i" type="button">&plus;</button>
                                                    </div>
                                                </div>

                                            </td>
                                            <td id="tdTotalPriceProduct_@i" val="49.00">49.00 TL</td>
                                            <td><a href="#" class="btn btn-primary btn-sm">X</a></td>
                                        </tr>
                                    }
                                    

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-6 pl-5">
                    </div>
                    <div class="col-md-6 pl-5">

                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                    </div>
                                </div>
                          
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black" vaL="230.00" id="stTotalPrice">230.00 TL</strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>

 <script type="text/javascript">

    $(document).ready(function () {
        $(".js-btn-plus").click(function () {

            var clickedButtonId = this.id;

            var clickedButtonIdNumber = clickedButtonId.split("_")[1];

            var productPrice = $("#tdPriceProduct_" + clickedButtonIdNumber).attr("val");
            var updatedPriceValue = (parseFloat($("#inputProductCount_" + clickedButtonIdNumber).val()) + 1) * parseFloat(productPrice);

            $("#tdTotalPriceProduct_" + clickedButtonIdNumber).text(updatedPriceValue + " TL");
            $("#tdTotalPriceProduct_" + clickedButtonIdNumber).attr("val", updatedPriceValue);

            var totalPrice = calculatedTotalPrice();

            $("#stTotalPrice").attr("val", totalPrice);
            $("#stTotalPrice").text(totalPrice + " TL");
             
        });

        $(".js-btn-minus").click(function () {

            var clickedButtonId = this.id;

            var clickedButtonIdNumber = clickedButtonId.split("_")[1];

            var productPrice = $("#tdPriceProduct_" + clickedButtonIdNumber).attr("val");
            var updatedPriceValue = (parseFloat($("#inputProductCount_" + clickedButtonIdNumber).val())) * parseFloat(productPrice);

            $("#tdTotalPriceProduct_" + clickedButtonIdNumber).text(updatedPriceValue + " TL");
            $("#tdTotalPriceProduct_" + clickedButtonIdNumber).attr("val", updatedPriceValue);

            var totalPrice = calculatedTotalPrice();

            $("#stTotalPrice").attr("val", totalPrice);
            $("#stTotalPrice").text(totalPrice + " TL");
        });
    });

    function calculatedTotalPrice(){

        let totalPrice = 0;

        for(let i = 0; i < 5; i++){
               totalPrice += parseFloat($("#tdTotalPriceProduct_" + i).attr("val"));
        }

        return totalPrice;
    }

 </script>