<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="site-wrap">


        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-total">Total</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="tbShopListField">
                                 
                                    
                                    
                                    

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-6 pl-5">
                    </div>
                    <div class="col-md-6 pl-5">

                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                    </div>
                                </div>
                          
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black" vaL="0" id="stTotalPrice">0 TL</strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</body>
</html>

 <script type="text/javascript">

    $(document).ready(function () {

 

        let basket = localStorage.getItem("productsBasket");


        if(basket != null){

            $.ajax({
                url: '/Home/GetShoppingCardProducts',
                type: 'POST',
                data: basket,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                async: false,
                success: function (data) {

                    var shopListHtml = '';
                    var totalAmountToList = 0;

                    for (let i = 0; i < data.length; i++) {
                        shopListHtml +=
                            '<tr>' +
                            '<td class="product-thumbnail">' +
                            '<img src="/images/cloth_1.jpg" alt="Image" class="img-fluid">' +
                            '</td>' +
                            '<td class="product-name">' +
                            '<h2 class="h5 text-black">' + data[i].name + '</h2>' +
                            '</td>' +
                            '<td id="tdPriceProduct_' + data[i].id + '" value="'+ data[i].price +'">' + data[i].price +' TL</td>' +
                            '<td>' +
                            '<div class="input-group mb-3" style="max-width: 120px;">' +
                            '<div class="input-group-prepend">' +
                            '<button class="btn btn-outline-primary js-btn-minus" id="btnMinus_' + data[i].id + '" type="button" onclick="minusProductCount(' + data[i].id + ');">&minus;</button>' +
                            '</div>' +
                            '<input type="text" class="form-control text-center" onchange="changedProductCount(' + data[i].id + ');" value="' + data[i].piece + '"  id="inputProductCount_' + data[i].id + '" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">' +
                            '<div class="input-group-append">' +
                            '<button class="btn btn-outline-primary js-btn-plus" id="btnPlus_' + data[i].id + '" type="button" onclick="plusProductCount('+data[i].id+');">&plus;</button>' +
                            '</div>' +
                            '</div>' +
                            '</td>' +
                            '<td class="tdTotalPriceProduct" id="tdTotalPriceProduct_' + data[i].id + '" value="' + parseFloat(data[i].price) * parseFloat(data[i].piece) + '">' + parseFloat(data[i].price) * parseFloat(data[i].piece) + ' TL</td>' +
                            '<td><a href="#" class="btn btn-primary btn-sm">X</a></td>' +
                            '</tr>';

                             totalAmountToList += parseFloat(data[i].price) * parseFloat(data[i].piece);

                    }


                    $("#tbShopListField").html(shopListHtml);
                    $("#stTotalPrice").attr("val", totalAmountToList);
                    $("#stTotalPrice").text(totalAmountToList);
                },
                error: function (exc) {

                }
            });


    
        }


       
    });

    function calculatedTotalPrice(){

        let totalPrice = 0;

        var childList = $("#tbShopListField").find(".tdTotalPriceProduct");


        childList.each(function () {
               totalPrice += parseFloat($(this).attr("value"));
        });


        return totalPrice;
    }

    function plusProductCount(id) {

        changedProductCount(id);
      
        $("#inputProductCount_" + parseInt(id)).val(parseInt($("#inputProductCount_" + parseInt(id)).val()) + 1);

  
    }

    function minusProductCount(id){

        changedProductCount(id);

        $("#inputProductCount_" + parseInt(id)).val(parseInt($("#inputProductCount_" + parseInt(id)).val()) - 1);


    }

    function changedProductCount(id){

        if (Number.isInteger(id)) {

            var clickedButtonIdNumber = id

            var productPrice = $("#tdPriceProduct_" + clickedButtonIdNumber).attr("value");
            var updatedPriceValue = (parseFloat($("#inputProductCount_" + clickedButtonIdNumber).val())) * parseFloat(productPrice);

            $("#tdTotalPriceProduct_" + clickedButtonIdNumber).text(updatedPriceValue + " TL");
            $("#tdTotalPriceProduct_" + clickedButtonIdNumber).attr("value", updatedPriceValue);

            var totalPrice = calculatedTotalPrice();

            $("#stTotalPrice").attr("val", totalPrice);
            $("#stTotalPrice").text(totalPrice + " TL");
        }

        else{
            console.log("hata");
        }

     
   
    }



 </script>