@model List<CustomersOrderOtomation.ViewModel.Product.ProductViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">

                <div class="row mb-5">
                    <div class="col-md-9 order-2">

               
                        <div class="row mb-5">

                            @foreach(var item in Model)
                            {
                                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                                    <div class="block-4 text-center border">
                                        <figure class="block-4-image">
                                            <a asp-controller="Home" asp-action="ShopDetailed" asp-route-productId="@item.Id"><img src="~/images/cloth_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                                        </figure>
                                        <div class="block-4-text p-4">
                                            <h3><a href="shop-single.html">@item.Name</a></h3>
                                            <p class="text-primary font-weight-bold">@item.Price TL</p>
                                        </div>
                                    </div>
                                </div>
                            }

                    
                      

                        </div>
                        <div class="row" data-aos="fade-up">
                            <div class="col-md-12 text-center">
                                <div class="site-block-27">
                                    <ul>
                                        <li><a href="#">&lt;</a></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">&gt;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 order-1 mb-5 mb-md-0">
                        <div class="border p-4 rounded mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                            <ul class="list-unstyled mb-0" id="ulCategorListField">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetCategories","Home")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
  
                let categoryListHtml = '';

                for(let i = 0; i < data.length; i ++){

                    categoryListHtml += '<li class="mb-1"><a href="GetProductsByCategory?categoryId=' + data[i].id + '"  class="d-flex"><span>' + data[i].name + '</span><span class="text-black ml-auto"></span></a></li>'
                
                }

                $("#ulCategorListField").html(categoryListHtml);

             
            },
            error: function (exc) {

            }
        });
    });


</script>