@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<CustomersOrderOtomation.ViewModel.Product.ProductViewModelManagement>



<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Is It On Sale?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        @*     <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle" /> *@
                        <div class="ms-3">
                            <p class="fw-bold mb-1">@item.Name</p>
                            @*   <p class="text-muted mb-0">john.doe@gmail.com</p> *@
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">@item.Price TL</p>
                    @*    <p class="text-muted mb-0">IT department</p> *@
                </td>
                <td>
                    <p class="fw-normal mb-1">
                        @item.IsActive
                    </p>
                </td>
                <td>
                    <button type="button" class="btn btn-link btn-sm btn-rounded" onclick="EditThisProduct(@item.Id)">
                        Edit
                    </button>
                </td>
            </tr>
        }

    </tbody>
</table>

<div id="productCreateEditModal" class="modal" style="display: none">
    <div class="modal-content">
        <span class="close" onclick="CloseModal('productCreateEditModal')">&times;</span>
        <div>
            <input type="hidden" id="hdnProductIdProductModal" />

            <div class="row" style="margin-top:1%">
                <div class="col-lg-1">Product Name</div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="inProductNameProductModal" placeholder="product name">
                </div>
            </div>

            <div class="row" style="margin-top:1%">
                <div class="col-lg-1">Price</div>
                <div class="col-lg-6">
                    <input type="number" class="form-control" id="inProductPriceProductModal" placeholder="price">
                </div>
            </div>

            <div class="row" style="margin-top:1%">
                <div class="col-lg-1">Is Active</div>
                <div class="col-lg-6">
                    <select class="form-select" aria-label="is active">
                        <option selected value="1">True</option>
                        <option value="2">False</option>
                    </select>
                </div>
            </div>

            <div class="row" style="margin-top:1%">
                <div class="col-lg-1"></div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary" onclick="SaveProductInformation()">Save</button>
                </div>
            </div>


        </div>
    </div>
</div>