@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Müşteri Bilgisi</th>
                <th>Masa Numarası</th>
                <th>Sipariş Bilgileri</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody id="tbodyShopList">
        </tbody>
    </table>


</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

    $(() => {
        let connection = new signalR.HubConnectionBuilder().withUrl("/notify").build()

        connection.start()

        connection.on("refreshShoplists", function () {
            loadData();
        })

        loadData();

        function loadData() {
            var tr = '';

            $.ajax({
                url: 'Admin/GetShopLists',
                type: 'GET',
                success: function (result) {



                    $.each(result, (k, v) => {
                        var shopListData = JSON.parse(v.shopListProductsData);
                        var topTotalPrice = 0;

                        var productHTML = "";
                        $.each(shopListData, (index, product) => {
                            var totalPrice = product.Piece * product.Price;
                            topTotalPrice += totalPrice;
                            productHTML += `<p class="badge badge-success rounded-pill d-inline">${product.Piece} ${product.ProductName}=${totalPrice} TL</p>`;
                        });





                        var totalHTML = `<p class="badge badge-primary rounded-pill d-inline">Total: ${topTotalPrice} TL</p>`;

                        tr += `<tr>
                                   <td><p class="fw-normal mb-1">${v.orderCustomerName}</p></td>
                                   <td><p class="fw-normal mb-1">${v.orderTableNumber}</p></td>
                                   <td>${productHTML}${totalHTML}</td>
                                       <td>
                                           <button type="button" class="btn btn-info">
                                              <i class="fa fa-check-square-o" aria-hidden="true"></i> Onayla
                                       </button>
                                    </td>
                                 </tr>`;
                    });


                    $("#tbodyShopList").html(tr);


                },
                error: function (exc) {

                }
            });
        }
    })

</script>

